<html>
<head>
  <title>Sudoku Game</title>   
  <!-- link to the CSS stylesheet -->
  <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=The+Girl+Next+Door|Sofadi+One' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="title">
SuperDoku
</div>
<div id="top-buttons"><button id="home-button">Home</button><button id="info-button">Instructions</button></div>
<div id="sudoku">
  <form action="/" method="post">
  <!-- one div for each row -->
  <% 3.times do |row| %>
    <div class='row'>
        <!-- we want to create separate div elements for boxes to style them using CSS -->
      <% 3.times do |box| %>
          <div class="box">
         <!-- each box will have nine cells -->
         <% 3.times do |cell_row| %>
              <div class="cell-row">
             <% 3.times do |cell| %>
                  <div class="cell">
                    <!-- every cell will have an input field -->
                    <% cell_index = row * 27 + box * 3 + cell_row * 9 + cell %>
										<% cell_value = @current_solution[cell_index] %>
                    <% color_class = colour_class(@check_solution, @puzzle[cell_index], @current_solution[cell_index], @solution[cell_index])  %>
										<input 
                      name="cell[]" 
                      type="text" 
                      class="<%=color_class%>" maxlength="1" autocomplete="off" value="<%= clean_up_cell_value(cell_value) %>" >
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="sudoku-button-div">
      <button id="sudoku-button">Yes, but is it right?</button>
</div> 
  <div id="solution-button-div">
    <button id="solution-button">See Solution</button>
  </div>
</form>
<div id="level-buttons">
  <form action="/hard-puzzle" method="post"><button id="hard-button">Hard Puzzle</button></form><form action="/medium-puzzle" method="post"><button id="medium-button">Medium Puzzle</button></form><form action="/easy-puzzle" method="post"><button id="easy-button">Easy Puzzle</button></form>
</div>
</body>
</html>