body
{
    background-image: url("http://i.imgur.com/9CBqQIh.jpg");
    background-size: cover;
    margin: 100 100 100 100;

}

#title {
	width: 446px;
	text-align: center;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 50;
	margin-left: auto;
	margin-right: auto;
}

#sudoku {
	width: 100%;
	margin-top: 25px;
	margin-left: 363px;
	margin-right: auto;
}


div.box, div.cell {
    display: inline-block;
}


.cell input {
  width: 30px;
  height: 30px;
  margin: 3 3 3 3;
  opacity: 0.6;
  border: dashed;
  text-align: center;
  font-family: Arial;
}

#sudoku-button {
	margin-left: 482px;
	margin-top: 25px;
}